body{
  background-color:#5394b0;
}
#bg
{
  background:url(../img/bg-img.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
h3 {
  font-family: 'Pacifico', cursive;
}
@media only screen and (max-width: 600px) {
  #formdiv
  {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
  }
}
