body{
  background-color:#5394b0;
}
#bg
{
  background:url(../img/bg-img.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
h3 {
  font-family: 'Pacifico', cursive;
}
