ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

form ul li {
  margin: 10px 20px;
}

input:focus {
  border: 1px solid #b9d4e9;
  border-top-color: #b6d5ea;
  border-bottom-color: #b8d4ea;
  box-shadow: 0 0 5px #b9d4e9;
}

#pswd_info {
  position: absolute;
  width: 250px;
  padding: 10px;
  background: #fefefe;
  font-size: .875em;
  border-radius: 5px;
  box-shadow: 0 1px 3px #ccc;
  border: 1px solid #ddd;

  &::before {
    content: "\25B2";
    position: absolute;
    top: -12px;
    left: 45%;
    font-size: 14px;
    line-height: 14px;
    color: #ddd;
    text-shadow: none;
    display: block;
  }
}

h4 {
  margin: 0 0 10px 0;
  padding: 0;
  font-weight: normal;
  font-size: 1em;
}

.invalid {
  background: url(../img/cross.svg) no-repeat 0 50%;
  padding-left: 22px;
  line-height: 24px;
  color: #ec3f41;
}

.valid {
  background: url(../img/tick.svg) no-repeat 0 50%;
  padding-left: 22px;
  line-height: 24px;
  color: #3a7d34;
}

#pswd_info {
  display: none;
}
